.header{
    color: #fff;
    height: 80px;
    &__body{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title{
        font-weight: 700;
    }
}
